<h1>Email απο χρήστη της Riveraς</h1> <br>


<b>Όνομα χρήστη:</b> <%= @username %> <br>
<b>Εμαιλ:</b> <%= @email_user %> <br>
<b>Sub:</b> <%= @people%> <br>
<hr/>
<h3>Μύνημα</h3>
<p><%= @message %></p>