<script type="text/javascript">

$(document).ready(function() {
    $('#loading').fadeOut(2000);
    //$('#loading').hide(); 
  });
</script>


<div id="loading"></div>
<div id="page-box" class="wrapper animated fadeInDownBig">
<div class="wrap">
<div class="grids">
<div class="grid-12">
<h1>Welcome to Riviera</h1>
<hr/>
<div class="fullwidth-slider">
  <div><%=image_tag("about/slide1.jpg", size: "1000x400")%></div>
  <div><%=image_tag("about/slide2.jpg", size: "1000x400")%></div>
  <div><%=image_tag("about/slide3.jpg", size: "1000x400")%></div>
</div>    
   
<h2>About</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lacinia ipsum quis diam aliquam vel mollis nisi tempus. Nam et ante urna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam luctus, mi vel tincidunt pulvinar, lectus urna vestibulum velit, et pharetra enim sapien eget orci. Mauris in porta neque. In hac habitasse platea dictumst. Fusce dapibus cursus neque, a tempus purus tempor id. Mauris non ante eget tortor vulputate porta. Morbi at facilisis lorem. Proin rhoncus mauris in massa mattis ornare. Vivamus vitae ipsum felis.</p>  
<!--
<a href="http://spookynet.org"><img src="http://spookynet.org/zapasowe/x.png"></a>
<a href="http://webdesignlab.org"><img src="http://webdesignlab.org/x.png"></a>
-->
</div>
</div>
</div>
</div>

<script src="/assets/pageload.js"></script>
<script src="/assets/bxslider.js"></script>
