<script type="text/javascript">

$(document).ready(function() {
    $('#loading').fadeOut(2000);
    //$('#loading').hide(); 
  });
</script>


<div id="loading"></div>

<div id="page-box" class="wrapper animated fadeInDownBig">
    <div class="wrap">
        <div class="grids">
            <!-- PAGE TITLE -->
            <div class="grid-12">
                <h1>Events</h1>
                <hr/>
            </div>
            <!-- EVENT -->
            <div class="grid-12">
                <div class="event-date">26 May</div>
                <h3>
                    <a class="singlepost-link" href=<%= riviera_eventpage_path(:event => 1) %>>Event Title</a>
                </h3>
                <p class="eventinfo">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat, ante nulla hendrerit arcu, ac tincidunt mauris. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    <a class="singlepost-link" href=<%= riviera_eventpage_path(:event => 1)  %>>read more...</a>
                </p>
            </div>
            <!-- EVENT -->
            <div class="grid-12">
                <div class="event-date">22 May</div>
                <h3>
                    <a class="singlepost-link" href=<%= riviera_eventpage_path(:event => 2)%> >Event Title</a>
                </h3>
                <p class="eventinfo">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat, ante nulla hendrerit arcu, ac tincidunt mauris. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    <a class="singlepost-link" href=<%= riviera_eventpage_path(:event => 2)%>>read more...</a>
                </p>
            </div>
            <!-- EVENT -->
            <div class="grid-12">
                <div class="event-date">18 May</div>
                <h3>
                    <a class="singlepost-link" href="blogpost">Event Title</a>
                </h3>
                <p class="eventinfo">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat, ante nulla hendrerit arcu, ac tincidunt mauris. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    <a class="singlepost-link" href="blogpost">read more...</a>
                </p>
            </div>
            <!-- EVENT -->
            <div class="grid-12">
                <div class="event-date">11 May</div>
                <h3>
                    <a class="singlepost-link" href="blogpost">Event Title</a>
                </h3>
                <p class="eventinfo">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat, ante nulla hendrerit arcu, ac tincidunt mauris. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    <a class="singlepost-link" href="blogpost">read more...</a>
                </p>
            </div>
            <!-- EVENT -->
            <div class="grid-12">
                <div class="event-date">8 May</div>
                <h3>
                    <a class="singlepost-link" href="blogpost">Event Title</a>
                </h3>
                <p class="eventinfo">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat, ante nulla hendrerit arcu, ac tincidunt mauris. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    <a class="singlepost-link" href="blogpost">read more...</a>
                </p>
            </div>
            <!-- PAGINATION -->
            <div class="grid-12">
                <!-- Pagination -->
                <ul class="pagination">
                    <li class="arrow unavailable">
                        <a href="">&laquo;</a>
                    </li>
                    <li class="current">
                        <a href="">1</a>
                    </li>
                    <li>
                        <a href="">2</a>
                    </li>
                    <li>
                        <a href="">3</a>
                    </li>
                    <li>
                        <a href="">4</a>
                    </li>
                    <li>
                        <a href="">5</a>
                    </li>
                    <li>
                        <a href="">6</a>
                    </li>
                    <li>
                        <a href="">7</a>
                    </li>
                    <li class="unavailable">
                        <a href="">&hellip;</a>
                    </li>
                    <li>
                        <a href="">18</a>
                    </li>
                    <li>
                        <a href="">19</a>
                    </li>
                    <li class="arrow">
                        <a href="">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- JS FILES -->
<script src="/assets/pageload.js"></script>
<!-- AJAX CLICK EVENT -->
<script type="text/javascript">
    $("#page-box").find(".singlepost-link").click(function(event) {
        var $clickedElement = $(event.target);
        var currentId = $clickedElement.attr('href');
        $("#page-box").html("").load(currentId + '.html');
        return false;

    });
</script>