<script type="text/javascript">

$(document).ready(function() {
    $('#loading').fadeOut(2000);
    //$('#loading').hide(); 
  });
</script>


<div id="loading"></div>

<!-- GALLERY SCRIPTS -->		
        <noscript>
			<style>
				.es-carousel ul{
					display:block;
				}
			</style>
		</noscript>
		<script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">	
			<div class="rg-image-wrapper">
				{{if itemsCount > 1}}
					<div class="rg-image-nav">
						<a href="#" class="rg-image-nav-prev">Previous Image</a>
						<a href="#" class="rg-image-nav-next">Next Image</a>
					</div>
				{{/if}}
				<div class="rg-image"></div>
				<div class="rg-caption-wrapper">
					<div class="rg-caption" style="display:none;">
						<p></p>
					</div>
				</div>
			</div>
		</script> 
<div id="page-box" class="wrapper animated fadeInDownBig">
<div class="wrap">
<div class="grids">
<!-- PAGE TITLE -->
<div class="grid-12">
<h1>Photo Gallery</h1>  
<hr/>
<div id="rg-gallery" class="rg-gallery">
					<div class="rg-thumbs">
						<!-- Elastislide Carousel Thumbnail Viewer -->
						<div class="es-carousel-wrapper">
							<div class="es-nav">
								<span class="es-nav-prev">Previous</span>
								<span class="es-nav-next">Next</span>
							</div>
							<div class="es-carousel">
								<ul>
									<li><a href="#"><img src="images/photos/s1.jpg" data-large="images/photos/g1.jpg" alt="image01" data-description="Lorem ipsum dolor" /></a></li>
									<li><a href="#"><img src="images/photos/s2.jpg" data-large="images/photos/g2.jpg" alt="image02" data-description="Suspendisse lacinia ipsum quis" /></a></li>
									<li><a href="#"><img src="images/photos/s3.jpg" data-large="images/photos/g3.jpg" alt="image03" data-description="Consectetur adipiscing elit" /></a></li>
									<li><a href="#"><img src="images/photos/s4.jpg" data-large="images/photos/g4.jpg" alt="image04" data-description="Pellentesque habitant morbi tristique" /></a></li>
									<li><a href="#"><img src="images/photos/s5.jpg" data-large="images/photos/g5.jpg" alt="image05" data-description="In hac habitasse platea dictumst" /></a></li>
									<li><a href="#"><img src="images/photos/s6.jpg" data-large="images/photos/g6.jpg" alt="image06" data-description="Proin rhoncus mauris in massa mattis ornare" /></a></li>
									<li><a href="#"><img src="images/photos/s7.jpg" data-large="images/photos/g7.jpg" alt="image07" data-description="Netus et malesuada fames ac turpis egestas" /></a></li>
									<li><a href="#"><img src="images/photos/s8.jpg" data-large="images/photos/g8.jpg" alt="image08" data-description="Vivamus vitae ipsum felis" /></a></li>
									<li><a href="#"><img src="images/photos/s9.jpg" data-large="images/photos/g9.jpg" alt="image09" data-description="Mauris in porta neque" /></a></li>
									<li><a href="#"><img src="images/photos/s10.jpg" data-large="images/photos/g10.jpg" alt="image10" data-description="Fusce dapibus cursus neque" /></a></li>
									<li><a href="#"><img src="images/photos/s1.jpg" data-large="images/photos/g1.jpg" alt="image01" data-description="Lorem ipsum dolor" /></a></li>
									<li><a href="#"><img src="images/photos/s2.jpg" data-large="images/photos/g2.jpg" alt="image02" data-description="Suspendisse lacinia ipsum quis" /></a></li>
									<li><a href="#"><img src="images/photos/s3.jpg" data-large="images/photos/g3.jpg" alt="image03" data-description="Consectetur adipiscing elit" /></a></li>
									<li><a href="#"><img src="images/photos/s4.jpg" data-large="images/photos/g4.jpg" alt="image04" data-description="Pellentesque habitant morbi tristique" /></a></li>
									<li><a href="#"><img src="images/photos/s5.jpg" data-large="images/photos/g5.jpg" alt="image05" data-description="In hac habitasse platea dictumst" /></a></li>
									<li><a href="#"><img src="images/photos/s6.jpg" data-large="images/photos/g6.jpg" alt="image06" data-description="Proin rhoncus mauris in massa mattis ornare" /></a></li>
									<li><a href="#"><img src="images/photos/s7.jpg" data-large="images/photos/g7.jpg" alt="image07" data-description="Netus et malesuada fames ac turpis egestas" /></a></li>
									<li><a href="#"><img src="images/photos/s8.jpg" data-large="images/photos/g8.jpg" alt="image08" data-description="Vivamus vitae ipsum felis" /></a></li>
									<li><a href="#"><img src="images/photos/s9.jpg" data-large="images/photos/g9.jpg" alt="image09" data-description="Mauris in porta neque" /></a></li>
									<li><a href="#"><img src="images/photos/s10.jpg" data-large="images/photos/g10.jpg" alt="image10" data-description="Fusce dapibus cursus neque" /></a></li>									
								</ul>
							</div>
						</div>
						<!-- End Elastislide Carousel Thumbnail Viewer -->
					</div><!-- rg-thumbs -->
				</div><!-- rg-gallery -->
      </div>
     </div>
    </div>
   </div>
<!-- JS FILES -->
<script src="/assets/pageload.js"></script>
<script src="/assets/jquery.tmpl.min.js"></script>
<script src="/assets/jquery.elastislide.js"></script>
<script src="/assets/gallery.js"></script>