<script type="text/javascript">

$(document).ready(function() {
    $('#loading').fadeOut(2000);
    //$('#loading').hide(); 
  });
</script>


<div id="loading"></div>

<div id="page-box" class="wrapper animated fadeInDownBig">
    <div class="wrap">
        <div class="grids">
            <div class="grid-12 ourmenu">
                <!-- MENU TITLE -->
                <h2>Appetizers</h2>
                <hr/>
                <!-- MENU ITEM -->
                <h4>
                    <a class="clb-photo" href="images/photos/food.jpg">Bella's Artichokes</a>
                    <span>$12</span>
                </h4>
                <p>Roasted artichokes with chipotle aioli and cream cheese</p>
            </div>
            <!-- MENU ITEM -->
            <div class="grid-12 ourmenu">
                <h4>Bruchetta Blue Delight
                    <span>$15</span>
                </h4>
                <p>Blue cheese and citrus bruschetta</p>
            </div>
            <!-- MENU ITEM -->
            <div class="grid-12 ourmenu">
                <h4>
                    <a class="clb-photo" href="images/photos/food2.jpg">Pomme Dulse</a>
                    <span>$11</span>
                </h4>
                <p class="lastitem">Baked potatoes with crisped dulse</p>
            </div>
            <div class="grid-12 ourmenu">
                <!-- MENU TITLE -->
                <h2>Main Courses</h2>
                <hr/>
                <!-- MENU ITEM -->
                <h4>
                    <a class="clb-photo" href="images/photos/food3.jpg">Barbeque Tofu</a>
                    <span>$25</span>
                </h4>
                <p>Grilled marinated tofu, maple barbeque sauce, tahini slaw, grilled seasonal vegetables and mashed potatoes</p>
            </div>
            <!-- MENU ITEM -->
            <div class="grid-12 ourmenu">
                <h4>Luxur Oyster
                    <span>$21</span>
                </h4>
                <p class="lastitem">King oyster mushroom with roasted cherries and sage</p>
            </div>
            <div class="grid-12 ourmenu">
                <!-- MENU TITLE -->
                <h2>Drinks</h2>
                <hr/>
                <!-- MENU ITEM -->
                <h4>Beer
                    <span>$6</span>
                </h4>
                <p>Bottled</p>
            </div>
            <!-- MENU ITEM -->
            <div class="grid-12 ourmenu">
                <h4>House Wine
                    <span>$12</span>
                </h4>
                <p class="lastitem">Red/White Bottle</p>
            </div>
        </div>
    </div>
</div>
<!-- JS FILES -->
<script src="/assets/pageload.js"></script>
<script src="/assets/jquery.colorbox-min.js"></script>