<script type="text/javascript">

$(document).ready(function() {
    $('#loading').fadeOut(2000);
    //$('#loading').hide(); 
  });
</script>


<div id="loading"></div>

<div id="page-box" class="wrapper animated fadeInDownBig">
    <div class="wrap">
        <div class="grids">
            <!-- PAGE TITLE -->
            <div class="grid-12">
                <h1>Video Gallery</h1>
                <hr/>
                <!-- VIDEO SLIDER -->
                <div class="videobox">
                    <div class="video-slider">
                        <div>
                            <iframe src="http://player.vimeo.com/video/5999428"></iframe>
                        </div>
                        <div>
                            <iframe src="http://www.youtube.com/embed/7AxI4rxCf2E?wmode=transparent"></iframe>
                        </div>
                    </div>
                </div>
                <!-- END -->
            </div>
        </div>
    </div>
</div>
<!-- JS FILES -->
<script src="/assets/pageload.js"></script>
<script src="/assets/bxslider.js"></script>