<!--<div id="load-logo"><div class="logo-box"></div></div>
    <!--<div id="load-hide"> <!-- hide while loading -->

    <!-- Gallery -->
    <div class="slider cf">
        <div class="triang top"></div>
        <div class="triang bot"></div>
        <ul class="slides">
            <li style="background-image: url('/assets/gallery/1.jpg'); ">
                <div class="box">
                    <h2 class="caption">Awesome Cafeteria</h2>
                    <p class="text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Aliquam tincidunt suscipit tellus nec consequat.
                        Praesent rhoncus purus sed arcu volutpat ornare.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Aliquam tincidunt suscipit tellus nec consequat.
                        Praesent rhoncus purus sed arcu volutpat ornare.
                    </p>
                    <a href="about.html">Read More</a>
                </div>
                <div class="shadow"></div>
            </li>
            <li style="background-image: url('/assets/gallery/2.jpg'); ">
                <div class="box">
                    <h2 class="caption">Cafeteria Responsive</h2>
                    <p class="text">
                        Aliquam tincidunt suscipit tellus nec consequat.
                        Praesent rhoncus purus sed arcu volutpat ornare.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Aliquam tincidunt suscipit tellus nec consequat.
                        Praesent rhoncus purus sed arcu volutpat ornare.
                        Praesent rhoncus purus sed arcu volutpat ornare.
                    </p>
                    <a href="about.html">Read More</a>
                </div>
                <div class="shadow"></div>
            </li>
        </ul>
    </div>

    <div>
    <!-- Our Services -->
    <article class="our-services cf">
        <h2 class="caption">Our services</h2>
        <div class="center-align">
            <div class="line-cake">
                <div class="cake"></div>
                <div class="line left"></div>
                <div class="line right"></div>
            </div>
        </div>
        <!-- ## ## ## ## ## ## ## ## ## ## ## -->
        <div class="center-align content cf">
            <div class="col-3">
                <div class="circle">
                    <div class="img" style="background-image: url('/assets/our-services/1.png')"></div>
                </div>
                <h2 class="caption">Best Desserts</h2>
                <p class="text text-center">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Aliquam tincidunt suscipit
                </p>
            </div>
            <div class="col-3">
                <div class="circle">
                    <div class="img" style="background-image: url('/assets/our-services/2.png')"></div>
                </div>
                <h2 class="caption">Our Menu</h2>
                <p class="text text-center">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Aliquam tincidunt suscipit
                </p>
            </div>
            <div class="col-3">
                <div class="circle">
                    <div class="img" style="background-image: url('/assets/our-services/3.png')"></div>
                </div>
                <h2 class="caption">Menu Planners</h2>
                <p class="text text-center">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Aliquam tincidunt suscipit
                </p>
            </div>
            <div class="col-3">
                <div class="circle">
                    <div class="img" style="background-image: url('/assets/our-services/4.png')"></div>
                </div>
                <h2 class="caption">Awesome Recipes</h2>
                <p class="text text-center">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Aliquam tincidunt suscipit
                </p>
            </div>
        </div>
    </article>
    </div>

    <!-- ## Home Gallery -->
    <!--
    <section class="home-gallery nokeyframebug">
        <div class="maskkeyframebug">
        <div class="center-align">
            <a href="#top" class="top"></a>

            <div class="filter-line cf">
                <p>FILTER BY:</p>
                <a href="#">
                    <span class="triangle"></span>
                    <span class="ref">All</span>
                </a>
                <a href="#">
                    <span class="triangle"></span>
                    <span class="ref">Pictures</span>
                </a>
                <a href="#">
                    <span class="triangle"></span>
                    <span class="ref">Videos</span>
                </a>
                <a href="#">
                    <span class="triangle"></span>
                    <span class="ref">Cupcakes</span>
                </a>
                <a href="#">
                    <span class="triangle"></span>
                    <span class="ref">Deserts</span>
                </a>
            </div>

            <div class="gallery cf">
                <div class="col-3">
                    <div class="background">
                        <a href="gallery-open.html">
                            <div class="hover"></div>
                            <img src="/assets/our-gallery/1.jpg" alt=""/>
                        </a>
                        <div class="pic"></div>
                        <a class="look" href="gallery-open.html">Take a look</a>
                    </div>
                </div>
                <div class="col-3">
                    <div class="background">
                        <a href="gallery-open.html">
                            <div class="hover"></div>
                            <img src="/assets/our-gallery/2.jpg" alt=""/>
                        </a>
                        <div class="pic"></div>
                        <a class="look" href="gallery-open.html">Take a look</a>
                    </div>
                </div>
                <div class="col-3">
                    <div class="background">
                        <a href="gallery-open.html">
                            <div class="hover"></div>
                            <img src="/assets/our-gallery/3.jpg" alt=""/>
                        </a>
                        <div class="pic"></div>
                        <a class="look" href="gallery-open.html">Take a look</a>
                    </div>
                </div>
                <div class="col-3">
                    <div class="background">
                        <a href="gallery-open.html">
                            <div class="hover"></div>
                            <img src="/assets/our-gallery/4.jpg" alt=""/>
                        </a>
                        <div class="pic"></div>
                        <a class="look" href="gallery-open.html">Take a look</a>
                    </div>
                </div>
                <div class="col-3">
                    <div class="background">
                        <a href="gallery-open.html">
                            <div class="hover"></div>
                            <img src="/assets/our-gallery/5.jpg" alt=""/>
                        </a>
                        <div class="pic"></div>
                        <a class="look" href="gallery-open.html">Take a look</a>
                    </div>
                </div>
                <div class="col-3">
                    <div class="background">
                        <a href="gallery-open.html">
                            <div class="hover"></div>
                            <img src="/assets/our-gallery/6.jpg" alt=""/>
                        </a>
                        <div class="pic"></div>
                        <a class="look" href="gallery-open.html">Take a look</a>
                    </div>
                </div>
                <div class="col-3">
                    <div class="background">
                        <a href="gallery-open.html">
                            <div class="hover"></div>
                            <img src="/assets/our-gallery/7.jpg" alt=""/>
                        </a>
                        <div class="pic"></div>
                        <a class="look" href="gallery-open.html">Take a look</a>
                    </div>
                </div>
                <div class="col-3">
                    <div class="background">
                        <a href="gallery-open.html">
                            <div class="hover"></div>
                            <img src="/assets/our-gallery/8.jpg" alt=""/>
                        </a>
                        <div class="pic"></div>
                        <a class="look" href="gallery-open.html">Take a look</a>
                    </div>
                </div>
            </div>

        </div>
    -->

        <!-- ## ## ## ## ## ## ## ## ## ## 
        <div class="inner-border"></div>
        <div class="background-opacity"></div>
        </div>
    </section>
-->


    <!-- Our Team -->
    <!--
    <article class="our-team">
        <h2 class="caption">Our team</h2>
        <div class="center-align">
            <div class="line-cake">
                <div class="cake"></div>
                <div class="line left"></div>
                <div class="line right"></div>
            </div>
        </div>
    -->
        <!-- ## ## ## ## ## ## ## ## ## ## ## -->
        <!--
        <div class="center-align content cf">
            <div class="col-3">
                <div class="circle">
                    <img src="/assets/our-team/1.jpg" alt=""/>
                </div>
                <h2 class="caption">Minodora Oreiro</h2>
                <p class="text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt suscipit
                </p>
            </div>
            <div class="col-3">
                <div class="circle">
                    <img src="/assets/our-team/2.jpg" alt=""/>
                </div>
                <h2 class="caption">Olivia Wilder</h2>
                <p class="text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt suscipit
                </p>
            </div>
            <div class="col-3">
                <div class="circle">
                    <img src="/assets/our-team/3.jpg" alt=""/>
                </div>
                <h2 class="caption">Melissa Morgan</h2>
                <p class="text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt suscipit
                </p>
            </div>
            <div class="col-3">
                <div class="circle">
                    <img src="/assets/our-team/4.jpg" alt=""/>
                </div>
                <h2 class="caption">Andreea Marino</h2>
                <p class="text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt suscipit
                </p>
            </div>
        </div>
    </article>
-->

    <!-- ## Home Price -->
    <section class="home-price nokeyframebug">
        <div class="maskkeyframebug">
        <div class="center-align">
            <a href="#top" class="top"></a>

            <div class="prices cf">
                <!-- Item -->
                <!--
                <div class="col-3">
                    <div class="item-top">
                        <div class="item-logo"></div>
                        <span>Cupcakes</span>
                    </div>
                    <img src="/assets/our-price/1.jpg" alt=""/>
                    <div class="item-info">
                        <h2 class="caption">Cream Cupcakes</h2>
                        <p class="text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt suscipit
                        </p>
                    </div>
                    <div class="item-price">
                        <h3>just 19$</h3>
                    </div>
                    <div class="item-rombs"></div>
                </div>
            -->
                <!-- Item 
                <div class="col-3">
                    <div class="item-top">
                        <div class="item-logo"></div>
                        <span>Cakes</span>
                    </div>
                    <img src="/assets/our-price/2.jpg" alt=""/>
                    <div class="item-info">
                        <h2 class="caption">Delicious Cakes</h2>
                        <p class="text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt suscipit
                        </p>
                    </div>
                    <div class="item-price">
                        <h3>just 16$</h3>
                    </div>
                    <div class="item-rombs"></div>
                </div>
            -->
                <!-- Item 
                <div class="col-3">
                    <div class="item-top">
                        <div class="item-logo"></div>
                        <span>Drinks</span>
                    </div>
                    <img src="/assets/our-price/3.jpg" alt=""/>
                    <div class="item-info">
                        <h2 class="caption">Drinks</h2>
                        <p class="text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt suscipit
                        </p>
                    </div>
                    <div class="item-price">
                        <h3>just 10$</h3>
                    </div>
                    <div class="item-rombs"></div>
                </div>
            -->
                <!-- Item 
                <div class="col-3">
                <div class="item-top">
                    <div class="item-logo"></div>
                    <span>Desserts</span>
                </div>
                <img src="/assets/our-price/4.jpg" alt=""/>
                <div class="item-info">
                    <h2 class="caption">Best Desserts</h2>
                    <p class="text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt suscipit
                    </p>
                </div>
                <div class="item-price">
                    <h3>just 20$</h3>
                </div>
                <div class="item-rombs"></div>
            </div>
        -->
            </div>

        </div>


        <!-- ## ## ## ## ## ## ## ## ## ## -->
        <div class="inner-border"></div>
        <div class="background-opacity"></div>
        </div>
    </section>

    <!-- Our Events -->
    <article class="our-events">
        <h2 class="caption">Our events</h2>
        <div class="center-align">
            <div class="line-cake">
                <div class="cake"></div>
                <div class="line left"></div>
                <div class="line right"></div>
            </div>
        </div>
        <!-- ## ## ## ## ## ## ## ## ## ## ## -->
        <div class="center-align content cf">

            <div class="events">
                <ul class="slides">
                    <li>
                        <img src="/assets/our-events/1.jpg" alt="" />
                        <h2 class="caption">Eliza & Mario Wedding</h2>
                        <span class="date">21 Sep, 2013</span>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Aliquam tincidunt suscipit tellus nec consequat. Praesent rhoncus purus sed arcu volutpat ornare.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt suscipit tellus nec consequat.
                            Praesent rhoncus purus sed arcu volutpat ornare.
                        </p>
                    </li>
                    <li>
                        <img src="/assets/our-events/2.jpg" alt="" />
                        <h2 class="caption">Eliza</h2>
                        <span class="date">25 Sep, 2013</span>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Aliquam tincidunt suscipit tellus nec consequat. Praesent rhoncus purus sed arcu volutpat ornare.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt suscipit tellus nec consequat.
                            Praesent rhoncus purus sed arcu volutpat ornare.
                        </p>
                    </li>
                    <li>
                        <img src="/assets/our-events/3.jpg" alt="" />
                        <h2 class="caption">Mario Wedding</h2>
                        <span class="date">30 Sep, 2013</span>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Aliquam tincidunt suscipit tellus nec consequat. Praesent rhoncus purus sed arcu volutpat ornare.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt suscipit tellus nec consequat.
                            Praesent rhoncus purus sed arcu volutpat ornare.
                        </p>
                    </li>
                    <li>
                        <img src="/assets/our-events/4.jpg" alt="" />
                        <h2 class="caption">Eliza & Wedding</h2>
                        <span class="date">31 Sep, 2013</span>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Aliquam tincidunt suscipit tellus nec consequat. Praesent rhoncus purus sed arcu volutpat ornare.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt suscipit tellus nec consequat.
                            Praesent rhoncus purus sed arcu volutpat ornare.
                        </p>
                    </li>
                </ul>
                <div class="outlines"></div>
                <div class="shadows"></div>
            </div>

        </div>
    </article>

    <!-- ## Home Footer -->
    <section class="footer nokeyframebug">
        <div class="maskkeyframebug">
        <div class="center-align">
            <a href="#top" class="top"></a>

            <!--<div style="margin-bottom:100px;"></div>-->

            <div class="contacts cf" style="margin-top:0px;">
                <div class="col-4" style="margin-top:100px;">
                    <ul>
                        <li>
                            <div class="icon-adress"></div>
                            <p>
                                Address // 1412 Cafeteria
                                San Francisco, BC 2390
                            </p>
                        </li>
                        <li>
                            <div class="icon-phone"></div>
                            <p>Telephone nr. // (620) 695-1236780</p>
                        </li>
                        <li>
                            <div class="icon-mail"></div>
                            <p>E-Mail // contact@cofeteria.com</p>
                        </li>
                    </ul>
                </div>

                <div class="col-8" style="margin-top:100px;">
                    <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=%CE%91%CE%B3%CE%B3%CE%B5%CE%BB%CE%BF%CF%87%CF%89%CF%81%CE%B9%20riviera%20beach%20bar&key=AIzaSyDsRtOUyG0dksUMUu70-MVdfklxku92Frk"></iframe>
                </div>
            </div>

            <p class="copy">Copyright, All Right Reserved</p>

        </div>

        <!-- ## ## ## ## ## ## ## ## ## ## -->
        <div class="inner-border"></div>
        <div class="background-opacity"></div>
        </div>
    </section>


    <!--</div> <!-- /hide -->

    <!-- Libs 
    <script src="js/libs/jquery-1.10.2.min.js"></script>
    <script src="js/libs/jquery.flexslider-min.js"></script>
    -->
    <script src="/assets/jquery-1.10.2.min.js"></script>
    <script src="/assets/jquery.flexslider-min.js"></script>
    <!-- Custom 
    <script src="js/scripts.js"></script>
    -->
    <script src="/assets/scripts.js"></script>

    <!-- Init -->
    <script type="text/javascript">
        InitHome();
    </script>