<!-- ## Header Back -->
    <div class="header-back" style="background-image: url('/assets/our-gallery/slide1.jpg');">
        <div class="triang top"></div>
        <div class="triang bot"></div>
    </div>

<!-- Menu Open -->
    <article class="gallery-open">
        <h2 class="caption">Fusce vitae tempus lorem</h2>
        <div class="center-align">
            <div class="line-cake">
                <div class="cake"></div>
                <div class="line left"></div>
                <div class="line right"></div>
            </div>
        </div>
        <div class="center-align">

            <div class="gallery-slider">
                <div class="outlines"></div>
                <ul class="slides">
                    <% @album.each do |a| %>
                      <li> <img src="/assets/our-gallery/<%= a.image %>" alt=""/> </li>
                    <% end %>
                </ul>
            </div>

            <div class="text">
                <p>
                    <%= @gallery.koimeno %>
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt suscipit tellus nec consequat.
                    Praesent rhoncus purus sed arcu volutpat ornare. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Aliquam tincidunt suscipit tellus nec consequat. Praesent rhoncus purus sed arcu volutpat ornare.
                </p>

            </div>

            <blockquote class="cf">
                <div class="outlines"></div>
                <span>“</span>
                <p>
                    Praesent rhoncus purus sed arcu volutpat ornare. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Aliquam tincidunt suscipit tellus nec consequat. Praesent rhoncus purus sed arcu volutpat ornare.
                </p>
            </blockquote>

        </div>
    </article>


    <!-- Recent Galleries -->
    <article class="our-gallery">
        <h2 class="caption">Recent galleries</h2>
        <div class="center-align">
            <div class="line-cake">
                <div class="cake"></div>
                <div class="line left"></div>
                <div class="line right"></div>
            </div>
        </div>

        <div class="center-align">
            <div class="gallery open cf">

                <!-- -->
                <div class="col-3">
                    <div class="background">
                        <a href="gallery-open.html">
                            <div class="hover"></div>
                            <img src="/assets/our-gallery/1.jpg" alt=""/>
                        </a>
                        <div class="shadow"></div>
                        <div class="pic"></div>
                        <a class="look" href="gallery-open.html">Take a look</a>
                    </div>
                </div>

                <!-- -->
                <div class="col-3">
                    <div class="background">
                        <a href="gallery-open.html">
                            <div class="hover"></div>
                            <img src="/assets/our-gallery/2.jpg" alt=""/>
                        </a>
                        <div class="shadow"></div>
                        <div class="pic"></div>
                        <a class="look" href="gallery-open.html">Take a look</a>
                    </div>
                </div>

                <!-- -->
                <div class="col-3">
                    <div class="background">
                        <a href="gallery-open.html">
                            <div class="hover"></div>
                            <img src="/assets/our-gallery/3.jpg" alt=""/>
                        </a>
                        <div class="shadow"></div>
                        <div class="pic"></div>
                        <a class="look" href="gallery-open.html">Take a look</a>
                    </div>
                </div>

                <!-- -->
                <div class="col-3">
                    <div class="background">
                        <a href="gallery-open.html">
                            <div class="hover"></div>
                            <img src="/assets/our-gallery/4.jpg" alt=""/>
                        </a>
                        <div class="shadow"></div>
                        <div class="pic"></div>
                        <a class="look" href="gallery-open.html">Take a look</a>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <!-- ## Footer -->
    <section class="footer footer-small">
        <div class="center-align">

            <p class="copy">Copyright, All Right Reserved</p>

        </div>

        <!-- ## ## ## ## ## ## ## ## ## ## -->
        <div class="inner-border"></div>
        <div class="background-opacity"></div>
    </section>

    <!-- Libs -->
    <script src="/assets/jquery-1.10.2.min.js"></script>
    <script src="/assets/jquery.flexslider-min.js"></script>
    
    <!-- Custom -->
    <script src="/assets/scripts.js"></script>

    <!-- Init -->
    <script type="text/javascript">
        InitDefault();
        InitOpenGallery();
    </script>