<!-- Our Gallery -->
    <article class="our-gallery">
        <h2 class="caption">Our gallery</h2>
        <div class="center-align">
            <div class="line-cake">
                <div class="cake"></div>
                <div class="line left"></div>
                <div class="line right"></div>
            </div>
        </div>

        <div class="center-align content cf">
            <a href="#top" class="top"></a>

            <div class="filter-line cf">
                <p>FILTER BY:</p>
                <a href="#">
                    <span class="triangle"></span>
                    <span class="ref">All</span>
                </a>
                <a href="#">
                    <span class="triangle"></span>
                    <span class="ref">Pictures</span>
                </a>
                <a href="#">
                    <span class="triangle"></span>
                    <span class="ref">Videos</span>
                </a>
                <a href="#">
                    <span class="triangle"></span>
                    <span class="ref">Cupcakes</span>
                </a>
                <a href="#">
                    <span class="triangle"></span>
                    <span class="ref">Deserts</span>
                </a>
            </div>

            <div class="gallery cf">

                <!-- -->
                <div class="col-3">
                    <div class="background">
                        <a href="gallery-open.html">
                            <div class="hover"></div>
                            <img src="/assets/our-gallery/1.jpg" alt=""/>
                        </a>
                        <div class="shadow"></div>
                        <div class="pic"></div>
                        <a class="look" href="gallery-open.html">Take a look</a>
                    </div>
                </div>

                <!-- -->
                <div class="col-3">
                    <div class="background">
                        <a href="gallery-open.html">
                            <div class="hover"></div>
                            <img src="/assets/our-gallery/2.jpg" alt=""/>
                        </a>
                        <div class="shadow"></div>
                        <div class="pic"></div>
                        <a class="look" href="gallery-open.html">Take a look</a>
                    </div>
                </div>

                <!-- -->
                <div class="col-3">
                    <div class="background">
                        <a href="gallery-open.html">
                            <div class="hover"></div>
                            <img src="/assets/our-gallery/3.jpg" alt=""/>
                        </a>
                        <div class="shadow"></div>
                        <div class="pic"></div>
                        <a class="look" href="gallery-open.html">Take a look</a>
                    </div>
                </div>

                <!-- -->
                <div class="col-3">
                    <div class="background">
                        <a href="gallery-open.html">
                            <div class="hover"></div>
                            <img src="/assets/our-gallery/4.jpg" alt=""/>
                        </a>
                        <div class="shadow"></div>
                        <div class="pic"></div>
                        <a class="look" href="gallery-open.html">Take a look</a>
                    </div>
                </div>

                <!-- -->
                <div class="col-3">
                    <div class="background">
                        <a href="gallery-open.html">
                            <div class="hover"></div>
                            <img src="/assets/our-gallery/5.jpg" alt=""/>
                        </a>
                        <div class="shadow"></div>
                        <div class="pic"></div>
                        <a class="look" href="gallery-open.html">Take a look</a>
                    </div>
                </div>

                <!-- -->
                <div class="col-3">
                    <div class="background">
                        <a href="gallery-open.html">
                            <div class="hover"></div>
                            <img src="/assets/our-gallery/6.jpg" alt=""/>
                        </a>
                        <div class="shadow"></div>
                        <div class="pic"></div>
                        <a class="look" href="gallery-open.html">Take a look</a>
                    </div>
                </div>

                <!-- -->
                <div class="col-3">
                    <div class="background">
                        <a href="gallery-open.html">
                            <div class="hover"></div>
                            <img src="/assets/our-gallery/7.jpg" alt=""/>
                        </a>
                        <div class="shadow"></div>
                        <div class="pic"></div>
                        <a class="look" href="gallery-open.html">Take a look</a>
                    </div>
                </div>

                <!-- -->
                <div class="col-3">
                    <div class="background">
                        <a href="gallery-open.html">
                            <div class="hover"></div>
                            <img src="/assets/our-gallery/8.jpg" alt=""/>
                        </a>
                        <div class="shadow"></div>
                        <div class="pic"></div>
                        <a class="look" href="gallery-open.html">Take a look</a>
                    </div>
                </div>

                <!-- -->
                <div class="col-3">
                    <div class="background">
                        <a href="gallery-open.html">
                            <div class="hover"></div>
                            <img src="/assets/our-gallery/9.jpg" alt=""/>
                        </a>
                        <div class="shadow"></div>
                        <div class="pic"></div>
                        <a class="look" href="gallery-open.html">Take a look</a>
                    </div>
                </div>

                <!-- -->
                <div class="col-3">
                    <div class="background">
                        <a href="gallery-open.html">
                            <div class="hover"></div>
                            <img src="/assets/our-gallery/10.jpg" alt=""/>
                        </a>
                        <div class="shadow"></div>
                        <div class="pic"></div>
                        <a class="look" href="gallery-open.html">Take a look</a>
                    </div>
                </div>

                <!-- -->
                <div class="col-3">
                    <div class="background">
                        <a href="gallery-open.html">
                            <div class="hover"></div>
                            <img src="/assets/our-gallery/11.jpg" alt=""/>
                        </a>
                        <div class="shadow"></div>
                        <div class="pic"></div>
                        <a class="look" href="gallery-open.html">Take a look</a>
                    </div>
                </div>

                <!-- -->
                <div class="col-3">
                    <div class="background">
                        <a href="gallery-open.html">
                            <div class="hover"></div>
                            <img src="/assets/our-gallery/12.jpg" alt=""/>
                        </a>
                        <div class="shadow"></div>
                        <div class="pic"></div>
                        <a class="look" href="gallery-open.html">Take a look</a>
                    </div>
                </div>

                <!-- -->
                <div class="col-3">
                    <div class="background">
                        <a href="gallery-open.html">
                            <div class="hover"></div>
                            <img src="/assets/our-gallery/13.jpg" alt=""/>
                        </a>
                        <div class="shadow"></div>
                        <div class="pic"></div>
                        <a class="look" href="gallery-open.html">Take a look</a>
                    </div>
                </div>

                <!-- -->
                <div class="col-3">
                    <div class="background">
                        <a href="gallery-open.html">
                            <div class="hover"></div>
                            <img src="/assets/our-gallery/14.jpg" alt=""/>
                        </a>
                        <div class="shadow"></div>
                        <div class="pic"></div>
                        <a class="look" href="gallery-open.html">Take a look</a>
                    </div>
                </div>

                <!-- -->
                <div class="col-3">
                    <div class="background">
                        <a href="gallery-open.html">
                            <div class="hover"></div>
                            <img src="/assets/our-gallery/15.jpg" alt=""/>
                        </a>
                        <div class="shadow"></div>
                        <div class="pic"></div>
                        <a class="look" href="gallery-open.html">Take a look</a>
                    </div>
                </div>

                <!-- -->
                <div class="col-3">
                    <div class="background">
                        <a href="gallery-open.html">
                            <div class="hover"></div>
                            <img src="/assets/our-gallery/16.jpg" alt=""/>
                        </a>
                        <div class="shadow"></div>
                        <div class="pic"></div>
                        <a class="look" href="gallery-open.html">Take a look</a>
                    </div>
                </div>
            </div>

        <div class="pagination cf">
            <h3 class="left"><a href="#">Previous</a></h3>
            <h3 class="right"><a href="#">Next</a></h3>
            <h3 class="center">1 of 5</h3>
        </div>

        </div>
    </article>

    <!-- ## Footer -->
    <section class="footer footer-small">
        <div class="center-align">

            <p class="copy">Copyright, All Right Reserved</p>

        </div>

        <!-- ## ## ## ## ## ## ## ## ## ## -->
        <div class="inner-border"></div>
        <div class="background-opacity"></div>
    </section>

    <!-- Libs -->
    <script src="/assets/jquery-1.10.2.min.js"></script>
    
    <!-- Custom -->
    <script src="/assets/scripts.js"></script>

    <!-- Init -->
    <script type="text/javascript">
        InitDefault();
    </script>
